body {
  background-color: linen;
}

a {
  color: rgb(178, 116, 34);
  transition: 0.1s;
  
}

a:hover {
  color: maroon;
  text-decoration:none;
  background-color: rgb(102, 255, 204);
}

.maroon-text {
  color: maroon;
}

.project-list {
  margin-top: 20px;
  margin-left: 10px;
}

.footer {
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 10px;
  font-size: 15px;
}

.footer-title {
  font-size: 20px;
}

