.work-title {
  font-size: 30px;
}

.work-main-content {
  margin-top: 20px;
  margin-left: 30px;
}

.foot-title {
  font-size: 20px;
}

.foot-content {
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 10px;
  font-size: 15px;
}