div.project-item {
  padding: 5px;
  background-color: lightgrey;
  border-left: 6px solid red;
  margin-top: 12px;
  margin-bottom: 12px;
  transition: 0.2s ease-out;
}

div.project-item:hover {
  background-color: rgba(255, 0, 0, 0.1);
  cursor: pointer;
}

.project-title {
  margin-left: 10px;
  font-size: 20px;
}

.project-desc {
  margin-left: 20px;
}
